.aurora-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  display: block;
}

.aurora-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  opacity: 0.95 !important;
}
